

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.box {
  /* Add shadows to create the "box" effect */
  box-shadow: 0 6px 10px 0 rgba(121, 121, 121, 0.356);
  transition: 0.3s;
  margin: 5rem;
  padding: 1rem;
}

/* On mouse-over, add a deeper shadow */
.box:hover {
  box-shadow: 0 12px 20px 0 rgba(121, 121, 121, 0.356);
}

h1, h2, h3 {
  color: blue;
}

h1:hover {
  color: rgb(49, 45, 83);
}

.button {
  margin: 1rem;
  
}