@import url("https://fonts.googleapis.com/css2?family=Fruktur&family=Mina&family=Over+the+Rainbow&family=Rock+3D&family=Shizuru&display=swap");

.App {
  text-align: center;
}

.box {
  /* Add shadows to create the "box" effect */
  box-shadow: 0 6px 10px 0 rgba(121, 121, 121, 0.356);
  transition: 0.3s;
  margin: 5rem;
  padding: 1rem;
  border-radius: 1rem;
  border: solid 0.3rem;
}

/* On mouse-over, add a deeper shadow */
.box:hover {
  box-shadow: 0 12px 20px 0 rgba(121, 121, 121, 0.356);
}

h1,
h2,
h3 {
  font-family: "Mina", sans-serif;
  color: rgb(34, 33, 48);
  padding: 10px 0px 10px 0px;
  margin: 10px;
}

h1:hover {
  color: rgb(49, 45, 83);
}

.button {
  margin: 2.3rem;
  padding: 4rem;
}

.body,
html {
  background-color: #c9c9c9b4;
}

.form {
  padding: 4rem;
  margin: 2.5rem;
  max-width: 30%;
}

.submit {
  margin: 3rem;
}


